<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>UCB Project 2</title>
  </head>
  <body>

  	<div class="jumbotron text-xs-center">
  		<h1 class="display-3">Welcome!</h1>
  		<p class="lead"><strong>Overhead Rate Calculator</strong> UCB Project 2</p>
  		<br>
  		<hr>
  		<p>Date Created: 06/25/2019</p>
  		<p>Creator: Reynalyn Gaoaen</p>
  		<hr>
  		<p class="mb-0">Tool Purpose: Allows users to dynamically adjust Business Volume scenario and view the impacts on indirect rates. </p>
  		<br>
  		<p class="mb-0">Inspiration: My current work-related project involves what we call tool discovery.  A full-stack BI tool is currently being proposed to our Senior Management group.  This includes a data repository (e.g. data warehouse, data lake, or a data hub), a visualization and analytics tool with reporting and dashboarding capability.  This type of project requires not only funds but also time for planning and implementation.  This means that we do not have a tool yet, but we need something now.  Hence this UCB project is a proof-of-concept for a tool that will render and gather info from a user via web.  </p>
  		<br>
  		<hr>
  		<br>
 		 <p class="lead">
   		 <a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/userguide" role="button"> Definitions & User Guide</a>
   		 <a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/calculator" role="button"> BV Calculator </a>
   		 <a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/visualization" role="button"> Visualization  </a>

        
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>








